/* styles/Button.module.css */

.button {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, #00f, #00e8ff) border-box;
  color: #313149;
  padding: 20px 70px;
  border: 5px solid transparent;
  border-radius: 40px;
  display: inline-block;
  font-size: 28px;
}
