@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "light";
  src: local("bender.light"),
    url("../assets/fonts/bender.light.otf") format("opentype");
}

@font-face {
  font-family: "regular";
  src: local("bender.regular"),
    url("../assets/fonts/bender.regular.otf") format("opentype");
}

@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative overflow-hidden rounded-2xl bg-gradient-to-b from-slate-700 to-slate-800;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      #13fbd3 0deg,
      rgba(192, 132, 252, 0.8) 0deg,
      transparent 80deg
    );

    @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
  }

  /* Body */
  .card-content {
    @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)] rounded-2xl bg-gradient-to-b from-slate-800 to-slate-900;
  }
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto; /* Hide the main scrollbar */

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; Hide the main scrollbar */
    /* overflow: auto; */
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 22, 31, 42;
    --background-end-rgb: 0, 0, 0;
    --background: 213 31% 13%;
    --foreground: 222.2 84% 4.9%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* Create an invisible scrollbar */
body::-webkit-scrollbar {
  width: 1px; /* adjust as needed */
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
