@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto; /* Hide the main scrollbar */

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; Hide the main scrollbar */
    /* overflow: auto; */
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 22, 31, 42;
    --background-end-rgb: 0, 0, 0;
    --background: 213 31% 13%;
    --foreground: 222.2 84% 4.9%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* Create an invisible scrollbar */
body::-webkit-scrollbar {
  width: 1px; /* adjust as needed */
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
